a.socialBtn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

a.socialBtn:hover {
  color: #000000;
  background-color: #ffffff;
}

@media all and (max-width: 30em) {
  a.socialBtn {
    display: block;
    margin: 0.4em auto;
  }
}

@media (max-width: 991.98px) {
  section img {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  section {
    padding: 0 20% !important;
  }

  .jumbotron {
    visibility: hidden;
    height: 0;
    width: 0;
    float: left;
  }

  #contact {
    padding: 2% 5% !important;
  }

  .col-lg-8 {
    padding: 0 !important;
  }

  .col-lg-4 {
    padding: 0 !important;
  }

  .container {
    padding: 10% 0 !important;
  }

  .row {
    padding: 0 !important;
  }

  .col {
    padding: 0 !important;
  }

  #lightdark input {
    visibility: hidden;
    height: 0;
    width: 0;
  }
}

.navbar-toggler {
  visibility: hidden;
}

.center {
  margin: 0 auto;
  width: 80%;
}

.row {
  width: 100%;
}

.bouncy {
  animation: bouncy 5s infinite linear;
  position: relative;
}
@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

#fb:hover {
  background-color: #3b5998;
  color: #ffffff;
}

#twt:hover {
  background-color: #55acee;
  color: #ffffff;
}

#lkIn:hover {
  background-color: #dc4e41;
  color: #ffffff;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.jumbotron {
  background-image: url("../images/banner.png");
  background-size: cover;
}

.navbar-default {
  max-width: 100%;
  background-color: #000000;
  border-color: #000000;
}

/*light-dark theme*/
.phoneFrame {
  border-radius: 10px;
  max-height: 400px;
  float: left;
  display: block;
}
#f4D2 {
  display: block;
}

#f4D1 {
  display: none;
}

#boxfooter {
  padding-top: 50px;
  padding-left: 100px;
  padding-bottom: 50px;
  max-width: 100%;
  display: table;
  background-attachment: fixed;
  height: 30vh;
  background-color: #252325;
  color: #cfccce;
}

#operaPedia h1 {
  font-size: 4rem;
}
